<div class="container">
  <app-header></app-header>
  <router-outlet></router-outlet>
</div>
<fa-icon
  [matMenuTriggerFor]="menu"
  matTooltip="Reach out to me"
  class="reach-out c-red fa-beat"
  [icon]="['fas', 'heart']"
  style="--fa-beat-scale: 2"
></fa-icon>
<mat-menu #menu="matMenu">
  <button
    mat-menu-item
    (click)="redirect('https://in.linkedin.com/in/sanket-thotange-758632a5')"
  >
    <fa-icon [icon]="['fab', 'linkedin']"></fa-icon> LinkedIn
  </button>
  <button mat-menu-item>
    <fa-icon [icon]="['fab', 'github']"></fa-icon> Github
  </button>
</mat-menu>
